.contact-section {
  text-align: center;
  padding-bottom: 150px; /* Espacio extra al final */
}

.contact-text {
  color: var(--text-muted);
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.contact-link {
  color: var(--text-main);
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-card);
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: all var(--transition-speed) ease;
}

.contact-link:hover {
  border-color: var(--primary);
  color: var(--primary);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}